@import'header.css';
@import'footer.css';
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:ital,opsz,wght@1,6..12,700&display=swap');
/*style du body*/
:root{
    /* les couleurs global du site */
    --backrgound-body:#FFFFFF;
    --color-paragraphe-blanc:#FFFFFF;
    --color-paragraphe-noir: #000000;
    --input-texte-color:rgba(0, 0, 0, 0.5);
    --couleur-titre: #E35F0F;
    --background-section-1-accueil: #27348B;
    --btn-background-color: #E35F0F;
    --paragraphe-color:#000000;
    --footer-background-color:#3B3B3B;
    --police-titre-size:font-size: 48px;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
  }

  /*background image du header*/
  .background-image_header {
    background:rgba(0,0,0,0.6)url('./images/blog_img_background.png'); 
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 800px;
    top: -1px;
    background-blend-mode: darken;
  }
  /* le titre du header*/
  .titre-container{
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  .titre-container h1 {
    font-family: Nunito;
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 300px;
    width: 70%;
    height: 81.49px;
    position: absolute;
    left: 50%; 
   transform: translateX(-50%);
    color: #E35F0F;
    
  }
  .titre-container p{
    color: #FFF;
text-align: center;
font-family: Arial;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 51px; /* 159.375% */
text-transform: capitalize;
    margin-top: 400px;
    margin-left: 270px;
    width: 65%;
    position: absolute;
  }
 
  .articles_contenaire{
    margin-top: 50px;
    margin-left: 135px;


  }

  .ligne_vertical{
    width: 4px;
    height: 48.01px;
    background: #999;
    margin-right: 25px;
  }
  .date_et_titre{
    display: flex;
  }
  .date{
    margin-right: 20px;
  }
  .date p{
    color: #E35F0F;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 83.333% */
    text-transform: uppercase;
    margin-top: -0px;


  }
  .date span{

    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
  }
  .titre h2{
    color: #000;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 62.5% */
    text-transform: uppercase;
  }

  .titre p{
    color: #999;

    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    text-transform: uppercase;
  }
  .titre{
    margin-top: -30px;
  }

  /* code de la div image_article_reseaux */

  .image_article_reseaux:first-child{
    width: 546px;
    height: 286px;
    flex-shrink: 0;
    margin-left: 12px;
  }
  .image_article_reseaux{
    display: flex;
    flex-direction: row;


  }
  .reseaux{
    width: 256px;
    margin-top: 5%;

    margin-left: 450px;
  }
  .social{
    margin-top: 35%;
    margin-left: 25%;
  }

  .message{
    display: flex;
    width: 93%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
  .message p{
    color: #060606;
    text-align: justify;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 202.99%; /* 40.598px */
    text-transform: capitalize;
  }
  .titre2 h2{
    color: #000;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 62.5% */
    text-transform: capitalize;
  }
  .titre2 p{
    color: #000;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 62.5% */
    text-transform: capitalize;
  }
  .titre2 span{
    color: #000;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: capitalize;
  }
  .voir_plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 54px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 595px;
    margin-bottom: 10%;
    margin-right: 725px;
    border-radius: 10px;
    background: #E35F0F;
 }
 .voir_plus a{
    color: #FFF;
    text-align: justify;
    font-family: Arial;
    text-decoration: none;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; 
    text-transform: capitalize;
 }










  /* Code footer */
/*footer*/
footer{
    background: #1F1F1F;
    width: 100%;
    height: 300px;
    display: inline-block;
    justify-content: space-between;
    padding: 30px 5px;
  
  }
  .footer_principal {
    display: flex;
    justify-content: space-between; /* Pour espacer les éléments sur toute la largeur */
    flex-wrap: wrap; /* Pour permettre le retour à la ligne si nécessaire */
  }
  
  /* Styles pour chaque section */
  .slogan,
  .nav-bar_footer,
  .contact_footer,
  .social_media {
    flex: 1; /* Chaque section prend autant d'espace disponible */
    display: flex;
    align-items: center; /* Alignement vertical */
  }
  
  .slogan{
    display: inline-block;
    max-width: 25%;
   
    
  }
  footer .logo{
    width: 185px;
    height: 75px;
    margin-left: -40px;
   
    
  }
  .le_paragraphe_footer{
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  width: 90%;
  text-align: center;
  margin-left: 30px;
  }
  .le_paragraphe_footer p{
   margin-top: 80px; 
  }

  .nav-bar_footer{
    max-width: 25%;
    
  }
  
  .nav-bar_footer ul {
    list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 30px;
  margin-left: 100px;
margin-top: 60px;
  }
  
  
  .nav-bar_footer ul li a {
    text-decoration: none; 
    color: #FFFFFF;
    font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 20px;  
  }

  .contact_footer{
    display: inline-block;
    max-width: 25%;
    gap: 30px;
    margin-top: 40px;
  }
  .contact_footer p{
    font-family: Arial;
font-size: 24px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
margin-left: 15px;
color: #FFFFFF;

  }
  .contact_phone{
    display: flex;
  }
  .contact_email{
    display: flex;
  }
  .contact_google{
    display: flex;
  }
  
  .social_media{
    display: inline-block;
    max-width: 25%;
    margin-top: 60px;
    margin-left: 20px;
  }
  .icons-reseaux{
    display: flex;
    gap: 20px;
  }
  .social_media p{
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 15px;
    color: #FFFFFF;
  }
  .Copyright{
font-family: Arial;
font-size: 24px;
font-weight: 900;
line-height: 15px;
text-align: center;
margin-top: 60px;
color: #FFFFFF;
  }