
 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:ital,opsz,wght@1,6..12,700&display=swap');
/*style du body*/
body {
    margin: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
  }

  /*background image du header*/
  .background-image_header {
    background:rgba(0,0,0,0.6)url('./images/back-commentçamarche.png'); 
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 800px;
    top: -1px;
    background-blend-mode: darken;
  }
  /* le titre du header*/
  .titre-container h1 {
    font-family: Nunito;
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 369px;
    margin-left: 422px;
    width: 705px;
    height: 81.49px;
    position: absolute;
    color: #F7F7F7;

    
    
  }
  .titre-container h1 span{
    color: #E35F0F;
  }
  /*la partie qui a le background en bleu*/
  #Programme{
    margin: 0;
  }
  .content {
    background-color: #27348B;
    display: flex;
    display: flex;
  align-items: flex-start; 
    padding: 20px;
    width: 100%;
    height: 465px;
    margin: 0;

  }
  
  .content-text {
    max-width: 70%;
    
  }
  .content-text p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    word-spacing: 6px; 
    width: 90%;
    padding-top: 30px;
  }
  
  .content-image {
    flex: 1;
    width: 30%;
    margin-left: 45px;
   margin-top: -7%;
   
  }
  
  .content-image img {
   
    display: block;
    width: 264.42px;
    height: 500px;
    
  }
  /*le style du titre de l'image */
  .image_titre{
    background: #FFFFFF;
    width:244px;
    height: 78px;
    margin-top: -12%;
    margin-left: 38%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .image_titre a{
    color: #7C7C7C;
    font-family: Inter;
    font-size: 15px;
    font-weight: 300;
    display: block;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 0%;
  }
  
  .image_titre .Prochain_pro p {
    color: #1F1F1F;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
  }
  /*la section inscription*/
  #inscription{
    background: linear-gradient(180deg, rgba(125, 92, 54, 0.5824) 0%, rgba(5, 24, 47, 0.576) 107.15%);
    margin-top: 0;
    padding-bottom: 15px;
  }
  /*etape 1*/
  .la_premiere_etape{
   display: inline-block;
    margin: 0px 100px 0px 100px;
    max-width: 100%;
  }
  .la_partie_texte{
    max-width: 50%;

  }
  .titre_inscription{
    display: flex;
    gap: 50px;
    margin-top: 50px;

  }
  
  .titre_inscription .nombre{
    display: inline-block;
   padding: 10px 25px;
   color: white;
   border-radius: 50%;
   font-size: 70px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

  }
  .titre_inscription h2{
    font-family: Nunito;
    font-size: 40px;
    font-weight: 800;
    line-height: 90px;
    letter-spacing: 0em;
    color: #27348B;
   

  }
  .ligne_conteneur{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 100px;
  }

  .les_paragraphes span{
    color: #E35F0F;
  }
  .les_paragraphes p{
    font-family: Nunito;
    font-size: 23.5px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;

  }
  .la_partie_image{
    max-width: 50%;


  }
  .la_partie_image img{
    width: 350px;
    height: 350px;
  }
  /*etape 2*/
  .la_deuxieme_etape{
    display: inline-block;
     margin: 0px 100px 0px 100px;
     max-width: 100%;
   }
   .la_partie_texte{
     max-width: 50%;
 
   }
   .titre_consultation{
     display: flex;
     gap: 50px;
     margin-top: 50px;
     justify-content: end;
 
   }
   
   .titre_consultation .nombre{
     display: inline-block;
    padding: 10px 25px;
    color: white;
    border-radius: 50%;
    font-size: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
 
   }
   .titre_consultation h2{
     font-family: Nunito;
     font-size: 40px;
     font-weight: 800;
     line-height: 90px;
     letter-spacing: 0em;
     color: #27348B;
    
 
   }
   .ligne_conteneur{
     display: flex;
     flex-wrap: wrap;
     max-width: 100%;
     gap: 100px;
   }
 
   .les_paragraphes span{
     color: #E35F0F;
   }
   .les_paragraphes p{
     font-family: Nunito;
     font-size: 23.5px;
     font-weight: 500;
     line-height: 40px;
     letter-spacing: 0.04em;
     text-align: left;
     color: #FFFFFF;
 
   }
   .la_partie_image{
     max-width: 50%;
 
 
   }
   .la_partie_image img{
     width: 350px;
     height: 350px;
   }
   /*etape 3*/
  .la_troisieme_etape{
    display: inline-block;
     margin: 0px 100px 0px 100px;
     max-width: 100%;
   }
   .la_partie_texte{
     max-width: 50%;
 
   }
   .titre_coaching{
     display: flex;
     gap: 50px;
     margin-top: 50px;
 
   }
   
   .titre_coaching .nombre{
     display: inline-block;
    padding: 10px 25px;
    color: white;
    border-radius: 50%;
    font-size: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
 
   }
   .titre_coaching h2{
     font-family: Nunito;
     font-size: 40px;
     font-weight: 800;
     line-height: 90px;
     letter-spacing: 0em;
     color: #27348B;
    
 
   }
   .ligne_conteneur{
     display: flex;
     flex-wrap: wrap;
     max-width: 100%;
     gap: 100px;
   }
 
   .les_paragraphes span{
     color: #E35F0F;
   }
   .les_paragraphes p{
     font-family: Nunito;
     font-size: 23.5px;
     font-weight: 500;
     line-height: 40px;
     letter-spacing: 0.04em;
     text-align: left;
     color: #FFFFFF;
 
   }
   .la_partie_image{
     max-width: 50%;
 
 
   }
   .la_partie_image img{
     width: 350px;
     height: 350px;
   }
   /*etape 4*/
  .la_quatrieme_etape{
    display: inline-block;
     margin: 0px 100px 0px 100px;
     max-width: 100%;
   }
   .la_partie_texte{
     max-width: 50%;
 
   }
   .titre_ressources{
     display: flex;
     gap: 50px;
     margin-top: 50px;
     justify-content: end;
   }
   
   .titre_ressources .nombre{
     display: inline-block;
    padding: 10px 25px;
    color: white;
    border-radius: 50%;
    font-size: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
 
   }
   .titre_ressources h2{
     font-family: Nunito;
     font-size: 40px;
     font-weight: 800;
     line-height: 90px;
     letter-spacing: 0em;
     color: #27348B;
    
 
   }
   .ligne_conteneur{
     display: flex;
     flex-wrap: wrap;
     max-width: 100%;
     gap: 100px;
   }
 
   .les_paragraphes span{
     color: #E35F0F;
   }
   .titre_ressources .les_paragraphes p{
     font-family: Nunito;
     font-size: 23.5px;
     font-weight: 500;
     line-height: 40px;
     letter-spacing: 0.04em;
     text-align: left;
     color: #FFFFFF;
     margin-top: 50px;
 
   }
    .la_partie_image{
     max-width: 50%;
   }
   .la_partie_image img{
     width: 350px;
     height: 350px;
   }
   /*etape 5*/
  .la_cinquieme_etape{
    display: inline-block;
     margin: 0px 100px 0px 100px;
     max-width: 100%;
   }
   .la_partie_texte{
     max-width: 50%;
 
   }
   .titre_evolution{
     display: flex;
     gap: 50px;
     margin-top: 50px;
 
   }
   
   .titre_evolution .nombre{
     display: inline-block;
    padding: 10px 25px;
    color: white;
    border-radius: 50%;
    font-size: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
 
   }
   .titre_evolution h2{
     font-family: Nunito;
     font-size: 40px;
     font-weight: 800;
     line-height: 90px;
     letter-spacing: 0em;
     color: #27348B;
    
 
   }
   .ligne_conteneur{
     display: flex;
     flex-wrap: wrap;
     max-width: 100%;
     gap: 100px;
   }
 
   .titre_evolution .les_paragraphes span{
     color: #E35F0F;
     font-style: italic;
   }
   .titre_evolution .les_paragraphes p{
     font-family: Nunito;
     font-size: 23.5px;
     font-style: italic;
     font-weight: 500;
     line-height: 40px;
     letter-spacing: 0.04em;
     text-align: left;
     color: #FFFFFF;
 
   }
   .la_partie_image{
     max-width: 50%;
 
 
   }
   .la_partie_image img{
     width: 350px;
     height: 350px;
   }
   /*le css du bouton*/
   .button{
    display: flex;
    justify-content: center;
    margin: 80px;
   }
.button a{
  width: 320px;
  height: 60px;
  border-radius: 10px;
  background: #E35F0F;
  color: #FFFFFF;
  font-family: Nunito;
  font-size: 32px;
font-weight: 700;
text-align: center;
border: none;
text-decoration: none;
  
}
/*section equipe*/
#equipe{
  background:rgba(0,0,0,0.6)url('./images/fond_section_nos_services.png'); 
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 475px;
  top: -1px;
  background-blend-mode: darken;
}
.contenu{
  margin-top: 140px;
  display: inline-block;
}
.slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img {
  border-radius: 50%;
  width: 90px;
  height: 91px;
 
}

.le_texte{
  width: 70%;
  height: 100%;
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin-left: 200px;
  
}
.le_texte .description{
  font-family: Arial;
font-size: 26px;
font-style: italic;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
color: #FFFFFF;
}
.le_texte  .auteur span{
  font-family: Nunito;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #E35F0F;  
}
.le_texte .auteur{
  font-family: Arial;
font-size: 17px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color:  #9A9A9A;
margin-top: 10px;
}
