@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:ital,opsz,wght@1,6..12,700&display=swap');
/*style du body*/
body {
    margin: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
  }

  /*background image du header*/
  .background-image_header {
    background:rgba(0,0,0,0.6)url('./images/Rectangle-1-\(1\).png'); 
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 800px;
    top: -1px;
  }
  /* le titre du header*/
  .titre-container h1 {
    font-family: Nunito;
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align:center;
    width: 70%;
    height: auto;
    position: absolute;
    left: 50%; 
    top: 50%;
   transform: translateX(-50%);
    color: #E35F0F;
  }

  /*la section communauté*/
  #communaute{
    max-width: 100%;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 10px 30px 0px #001D2C1A;
    background: #FFFFFF;
    height: 226px;
    width: 90%;
    margin: 2% auto 5% auto; /* Centre le conteneur horizontalement */
   padding: 20px; /* Ajoute un espace intérieur au conteneur */
   box-sizing: border-box; 
  }
  
  .content {
    text-align: center;
  }
  
  .text-section {
    margin-bottom: 40px;
  }
  .text-section h2{
font-family: Inter;
font-size: 17px;
font-weight: 500;
line-height: 10px;
letter-spacing: 0em;
text-align: center;
color: #1F1F1F;
  }
  .text-section p{
    font-family: Inter;
font-size: 15px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #666666;

  }
  
  .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-row {
    display: flex;
    gap: 10px;
  }
  
  input[type="text"],
  input[type="email"]
  {
    padding: 8px;
    border: 1px solid #E1E1E1;
    width: 400px;
    height: 40px;
    padding: 16px, 31px, 17px, 31px;
    border-radius: 10px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;


  }
  button{
    width: 185px;
    height: 50px;
    padding: 5px, 71.89px, 5px, 72.11px;
    border-radius: 10px;
    background: #E35F0F;
    color: #FFFFFF;
    font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0em;
text-align: center;

  }
  /*formulaire*/
  #formulaire {
    background:rgba(0,0,0,0.8)url('./images/fond_section_nos_services.png'); 
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 875px;
    background-blend-mode: darken;
  
  }
  
  .conteneur {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content:space-between ;

  }
  
  .row {
    display: inline-block;
    justify-content: space-between;
    margin-left: 3%;
    max-width: 50%;
    margin-top: 2%;
  }
  .row h1{
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

  }
  .row  .form_text span{
    color: #E35F0F;
  }
  .row .form_text p{
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: justified;
    color: #FFFFFF;

  }
  .form_text {
    flex: 1;
  }
  
  .contact_form {
    display: inline-block;
  }
  .form_phone,.form_email,.form_google{
    display: flex;
    line-height: 30px;
    gap: 30px;
    margin-bottom: 25px;
    align-items: center;
  }
  .form_phone p,.form_email p, .form_google p{
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

  }
  .row1 {
    display: inline-block;
    justify-content: space-between;
    margin-left: 15%;
    max-width: 50%;
    margin-top: 2%;
  }
  .row1 h1{
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

  }
  .row1  .form_text span{
    color: #E35F0F;
  }
  .row1 .form_text p{
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: justified;
    color: #FFFFFF;
    width: 88%;
  }
  
  .trait {
    display: inline-block;
    width: 30px; /* Ajuste la largeur du trait selon tes besoins */
    border-bottom: 1px solid black; /* Couleur et style de la bordure */
    margin-left: 5px; /* Ajuste la marge à gauche selon tes besoins */
    background: #E35F0F;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Ajoute un espace vertical entre les div */
  }
  
  .label {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .label label{
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

  }
  .label input{
    width: 450px;
    height: 20px;
    border: 1px solid #000000
  }
  .label textarea{
    width: 499px;
    height: 187.5px;
    padding: 0px, 238px, 5px, 0px;
    border: 1px;

  }
 #formulaire form button{
  font-family: Inter;
font-size: 13px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
width: 123px;
height: 40px;
padding: 5px, 30px, 5px, 30px;
border-radius: 10px;
border: none;
margin-top: 30px;

  }
  iframe{
    width: 100%;
    height: 500px;
  }
  
