/* Style pour le header */
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    max-width: 1504px; 
    height: 106px;
    padding: 0 20px; 
    margin: 0 auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
  }

  /* Style pour le logo */
  .logo img {
    width: 164.03px;
    height: 63px;
    margin-left: 100px; 
  }

  /* Style pour la barre de navigation */
  nav ul {
    list-style: none; 
    margin-right: 150px;
    padding: 0;
    text-align: center;
  }

  nav ul li {
    display: inline-block;
    margin: 0 10px; 
  }

  nav ul li a {
    text-decoration: none; 
    color: #FFFFFF;
    font-size: 16px; 
    font-family: Nunito;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    position: relative;

  }
  nav ul li a:hover,a.active  {
    border-bottom: 2px solid #E35F0F;
    padding: 8px;
  }

  /*responsive version mobile et tablette*/
  @media only screen and (min-width: 768px) and (max-width:1023px) {
    
  }