body{
    overflow-x:hidden ;
}
/* style du header */
header{
    Width:1504px;
    Height:106px;
    background: #1111118C;

  }
.background-image_header { 
    background:rgba(0,0,0,0.6)url(./images/Rectangle31.png); 
    background-size: cover;
    background-position: center center;
    width: 1300px;
    height: 700px;
    top: -1px;
    background-blend-mode: darken;
  }
  
  header img{
    width: 164.03px;
    height: 63px;
    margin-left: 100px; 
    
  }
  .titre-container{
    font-family: Nunito;
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 260px;
    margin-left: 300px;
    width: 705px;
    height: 81.49px;
    position: absolute;
    color: white;

  }
  

  



  