@import 'header.css';
@import 'footer.css';
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:ital,opsz,wght@1,6..12,700&display=swap');

:root{
    /* les couleurs global du site */
    --backrgound-body:#FFFFFF;
    --color-paragraphe-blanc:#FFFFFF;
    --color-paragraphe-noir: #000000;
    --input-texte-color:rgba(0, 0, 0, 0.5);
    --couleur-titre: #E35F0F;
    --background-section-1-accueil: #27348B;
    --btn-background-color: #E35F0F;
    --paragraphe-color:#000000;
    --footer-background-color:#3B3B3B;
    --police-titre-size:font-size: 48px;
}
body{
    overflow-x: hidden;
    margin: 0;
    background-color: #FFFFFF;
    
}
 /* Style pour le header  */

   /* le titre du header*/
   .titre-container h1 {
    font-family: Nunito;
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 230px;
    width: 70%;
    height: 81.49px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%; 
    color: #E35F0F;

  }
  .numerique{
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 300px;
    width: 70%;
    height: 81.49px;
    position: absolute;
    left: 50%; 
   transform: translateX(-50%);
    color: white;
  }


  /*background image du header*/
  .background-image_header {
    background:rgba(0,0,0,0.6)url(./images/photo1.png); 
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 700px;
    top: -1px;
    background-blend-mode: darken;
  }
  /* style de la  premiere paragraphe */
  .first-paragraphe{
    width: 75%;
    margin: 2%;
    margin-left: 15%;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: justify;
    color: #000000;
   

  }
  /*style section accompagnement personnalisé  */

  .section-accompagnement{
    display: flex;
    gap: 66px;
    margin-left: 70px;
    margin-top: 40px;
   

  }
  .section-accompagnement img{
    Width:390px;
    Height:200px;
    margin-left: 50px;
    margin-top: 70px;
    
  }
  
  .titre1{
    color: #E35F0F;
    font-weight: bold;
    
  }
.second-paragraphe{
    margin-top:40px

  }
  .numero-du-titre1 {
    font-size: 25px;
    color: #E35F0F;
    margin-left: 80px;
    margin-top: 15px;
    display: flex;
    gap: 30px;
    
  }
  .paragraphes{
    margin-left: 20%;
    width: 100%;
    color: #000;
text-align: justify;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 160% */
letter-spacing: 0.8px;
  }
  /*  style de la section evaluation descompetences  */
  .section-evaluation-des-competences{
    display: flex;
    Width:100%;
    Height:Hug 201px;;
    Left:82px;
    Gap :64px ; 
    margin-top: 50px;
}
  .section-evaluation-des-competences img{
    Width:390px;
    Height:200px;
    margin-left: 50px;
    margin-top: 70px;
  }
  
  .troixieme-paragraphe{
    margin-top:40px
    
  }
  .troixieme-paragraphe .titre2{
    color: #E35F0F;
    font-weight: bold;
    
  }
  .numero-du-titre2{
    font-size: 25px;
    color: #E35F0F;
    margin-left: 80px;
   
    display: flex;
    gap: 30px;

  }
  /* style de la section  suivie et mesure des progres */
  .section-suivi-et-mesure-des-progres{
    display: flex;
    gap: 66px;
    margin-left: 70px;
    margin-top: 40px;
  }
  .section-suivi-et-mesure-des-progres img{
    Width:390px;
    Height:200px;
    margin-left: 50px;
    margin-top: 70px;

  }
 
  .section-suivi-et-mesure-des-progres .numero-du-titre3{
    font-size: 25px;
    color: #E35F0F;
    margin-left: 80px;
    margin-top: 15px;
    display: flex;
    gap: 30px;
  }
  .section-suivi-et-mesure-des-progres .titre3{
    color: #E35F0F;
    font-weight: bold;
  }
  
  /* style de la section  atelier de groupe interactif*/
  .section-atelier-de-groupe-interactif{
    display: flex;
    gap: 66px;
    margin-left: 70px;
    margin-top: 40px;
  }
  
  .numero-du-titre4{
    font-size: 25px;
    color: #E35F0F;
    margin-left: 80px;
    margin-top: 15px;
    display: flex;
    gap: 30px;
  }
  .section-atelier-de-groupe-interactif img{
    Width:390px;
    Height:200px;
    margin-left: 50px;
    margin-top: 70px;

  }
 
  .section-atelier-de-groupe-interactif .titre4{
    color: #E35F0F;
    font-weight: bold;
  }
  /* style de la section bibliotheque de ressoure  numerique */
  .section-de-bibliotheque-de-ressource-numerique{
    display: flex;
    gap: 66px;
    margin-left: 70px;
    margin-top: 40px;;

  }
  .numero-du-titre5{
    font-size: 25px;
    color: #E35F0F;
    margin-top: 15px;
    display: flex;
    gap: 30px;
  }
  
  .section-de-bibliotheque-de-ressource-numerique img{
    Width:390px;
    Height:200px;
    margin-left: 50px;
    margin-top: 70px;
  }
  
  .section-de-bibliotheque-de-ressource-numerique .titre5{
    color: #E35F0F;
    font-weight: bold;

  }
  /* style de la phrase comment sa marche */
  .button{
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-left: 35%;
    max-width: 450px;
    height: 60px;
    
   }
  .button a{
    padding: 3%;
    border-radius: 10px;
    background: #E35F0F;
    color: #FFFFFF;
    font-family: Nunito;
    font-size: 28px;
  font-weight: 700;
  text-align: center;
  border: none;
  text-decoration: none;
    
  }
 /* responsivité version tablette */
 @media screen and (min-width: 768px) and (max-width:1023px){
  
  /*background image du header*/
  .background-image_header {
    height: 400px;
  }
  /* le titre du header*/
  .titre-container h1 {
    font-size: 50px;
    line-height: 40px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%; 
    top: -6%;
  }
  .numerique{
    font-size: 28px;
    line-height: 40px;
    position: absolute;
    left: 50%; 
    top: -8%;
   transform: translateX(-50%);
    
  }
  .first-paragraphe{
    width: 100%;
    margin-left: 4%;
    margin-top: 5%;
    margin-right: 3%;
   
  }
  .first-paragraphe p{
    width: 90%;
    font-size: 16px;
    line-height: 28px;
  }
    /*style section accompagnement personnalisé  */

    .section-accompagnement{
      display: flex;
      gap: 40px;
      margin-left: 20px;
      margin-top: 40px;
     
  
    }
    
  .section-accompagnement img,  .section-suivi-et-mesure-des-progres img, .section-de-bibliotheque-de-ressource-numerique img{
    Width:330px;
    Height:200px;
    margin-left: 20px;
    margin-top: 70px;
  }
  .section-evaluation-des-competences img,  .section-atelier-de-groupe-interactif img{
    Width:330px;
    Height:200px;
    margin-right: 20px;
    margin-top: 70px;
  }
  .second-paragraphe,  .quatrieme-paragraphe,  .paragraphe5{
    margin-left: 0;
    margin-top: 5px;
   flex-direction: column;
    gap: 10px;
    width: 90%;
  }
  .titre1{
    margin-left: -20%;
  }
  .titre3{
    margin-left: -28%;
  }
  .titre5{
    margin-left: 0;
  }
  .troixieme-paragraphe, .paragraphe4{
    margin-left: 0;
    margin-top: 5px;
    flex-direction: column;
    gap: 10px;
  }
  
 
  .paragraphes{
    margin-left: 0;
    width: 95%;
  }
  .paragraphes p{
    width: 85%;
    font-size: 16px;
    line-height: 20px; /* 160% */
    word-spacing: 2px;
    
  }
  .paragraphes ul{
    margin-left: -6%;
  }


  .numero-du-titre1  h3, .numero-du-titre2 h3, .numero-du-titre3 h3, .numero-du-titre4 h3, .numero-du-titre5 h3{
    display: none;
    
  }
  .titre1, .titre2, .titre3,.titre4,.titre5{
    font-size: 18px;
    
  }
  .titre2{
    margin-left: 5%;
    width: 100%;
  }
 
  .troixieme-paragraphe ul{
    margin-left: 2%;
    width: 100%;

  }
  .troixieme-paragraphe{
    margin-top:40px;
    width: 100%;

    
  }
  .troixieme-paragraphe .titre2{
    color: #E35F0F;
    font-weight: bold;
    width: 100%;
    
  }
   /* style de la phrase comment sa marche */
   .button{
    margin-left: 30%;
    max-width: 400px;
    
   }
  .button a{
    font-size: 18px;
  }

 }