
:root{
    /* les couleurs global du site */
    --backrgound-body:#FFFFFF;
    --color-paragraphe-blanc:#FFFFFF;
    --color-paragraphe-noir: #000000;
    --input-texte-color:rgba(0, 0, 0, 0.5);
    --couleur-titre: #E35F0F;
    --background-section-1-accueil: #27348B;
    --btn-background-color: #E35F0F;
    --paragraphe-color:#000000;
    --footer-background-color:#3B3B3B;
    --police-titre-size:font-size: 48px;
}
body{
    overflow-x: hidden;
}
 /* Style pour le header  */
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    height: 106px;
    padding: 0 20px; 
    margin: 0 auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute; 
    
  }
   /* le titre du header*/
   .titre-container h1 {
    font-family: Nunito;
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 369px;
    margin-left: 422px;
    width: 705px;
    height: 81.49px;
    position: absolute;
    color: #E35F0F;

  }


  /* Style pour le logo */
  .logo img {
    width: 164.03px;
    height: 63px;
    margin-left: 100px; 
  }

  /* Style pour la barre de navigation */
  nav ul {
    list-style: none; 
    margin-right: 150px;
    padding: 0;
    text-align: center;
  }

  nav ul li {
    display: inline-block;
    margin: 0 10px; 
  }

  nav ul li a {
    text-decoration: none; 
    color: #FFFFFF;
    font-size: 16px; 
    font-family: Nunito;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    position: relative;

  }
  nav ul li a:hover,a.active  {
    border-bottom: 2px solid #E35F0F;
    padding: 8px;
  }
  /*background image du header*/
  .background-image_header {
    background:rgba(0,0,0,0.6)url(./images/photo1.png); 
    background-size: cover;
    background-position: center center;
    width: 1300px;
    height: 700px;
    top: -1px;
    background-blend-mode: darken;
  }
  /* style de la  premiere paragraphe */
  .first-paragraphe{
    width: 1223px;
    height: 110px;
    top: 841px;
    margin-left: 138px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: justify;
    color: #000000;


  }
  /*style section accompagnement personnalisé  */

  .section-accompagnement{
    display: flex;
    width: Hug (1,225px);
    height: Hug (221px);
    top: 1064px;
    left: 94px;
    gap: 66px;
    margin-left: 70px;

  }
  .section-accompagnement img{
    Width:340px;
    Height:120px;
    margin-left: 30px;
    
  }
  .section-accompagnement p{
    margin-left: 100px;
    font-size:14px; 
    margin-top: -70px; 
  }
  .titre1{
    color: #E35F0F;
    font-weight: bold;
    
  }
.second-paragraphe{
    margin-top:40px

  }
  .numero-du-titre1 {
    font-size: 25px;
    color: #E35F0F;
    margin-bottom: 10px;
    
  }
  /*  style de la section evaluation descompetences  */
  .section-evaluation-des-competences{
    display: flex;
    Width:Hug 1,246px;
    Height:Hug 201px;
    Top:1383px;
    Left:82px;
    Gap :64px ; 
    margin-top: 50px;
}
  .section-evaluation-des-competences img{
    Width:340px;
    Height:120px;
    margin-right: 100px;
    margin-left: 20px;
    margin-top: 20px;
    margin-left: 80px;
  }
  .section-evaluation-des-competences p{
    font-size: 14px;
    margin-left: 20px;

  }
  .troixieme-paragraphe{
    margin-left:130px ;
    
  }
  .troixieme-paragraphe .titre2{
    color: #E35F0F;
    margin-bottom: 10px;
    font-weight: bold;
    
  }
  .numero-du-titre2{
    color: #E35F0F;
    font-size: 25px;

  }
  /* style de la section  suivie et mesure des progres */
  .section-suivi-et-mesure-des-progres{
    display: flex;
    Width:Hug (1,237px);
    Height:Hug (201px);
    Top:1674px;
    Left:94px;
    Gap:78px;
    margin-left: 80px;
    margin-top: 50px;
  }
  .section-suivi-et-mesure-des-progres img{
    Width:340px;
    Height:120px;
    margin-left: 30px;
    margin-top: 15px;

  }
  .section-suivi-et-mesure-des-progres p{
    margin-left: 100px;
    font-size:14px; 
   

  }
  .section-suivi-et-mesure-des-progres .numero-du-titre3{
    color: #E35F0F;
    font-size: 25px;
  }
  .section-suivi-et-mesure-des-progres .titre3{
    color: #E35F0F;
    font-weight: bold;
  }
  
  /* style de la section  atelier de groupe interactif*/
  .section-atelier-de-groupe-interactif{
    display: flex;
    Width:Hug (1,228px);
    Height:Hug (201px);
    Top:1985px;
    Left:103px;
    Gap:64px;
    margin-left: 90px;
    margin-top: 50px;
  }
  .paragraphe4{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }
  .numero-du-titre4{
    margin-top: 20px;
    color: #E35F0F;
    font-size: 25px;
  }
  .section-atelier-de-groupe-interactif img{
    Width:340px;
    Height:120px;
    margin-left: 30px;
    margin-top: 15px;

  }
  .section-atelier-de-groupe-interactif p{
    margin-left: 70px;
    font-size:14px; 
    margin-left: 18px
  

  }
  .section-atelier-de-groupe-interactif .titre4{
    color: #E35F0F;
    font-weight: bold;
  }
  /* style de la section bibliotheque de ressoure  numerique */
  .section-de-bibliotheque-de-ressource-numerique{
    display: flex;
    Width:Hug (1,212px);
    Height:Hug (201px);
    Top:2316px;
    Left:94px;
    Gap:78px;
    margin-left: 90px;
    margin-top: 50px;

  }
  .numero-du-titre5{
    margin-top: 20px;
    color: #E35F0F;
    font-size: 25px;
  }
  .paragraphe5{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }
  .section-de-bibliotheque-de-ressource-numerique img{
    Width:340px;
    Height:120px;
    margin-left: 30px;
    margin-top: 15px;
  }
  .section-de-bibliotheque-de-ressource-numerique p{
    margin-left: 70px;
    font-size:14px; 
    margin-left: 18px

  }
  .section-de-bibliotheque-de-ressource-numerique .titre5{
    color: #E35F0F;
    font-weight: bold;

  }
  /* style de la phrase comment sa marche */
  .comment-sa-marche{
    color: white;
    background: #E35F0F;
    font-size: 15px;
    font-weight: 700;
    Width:200px;
    Height:51px;
    Top:2615px;
    border-Radius:10px;
    Font-family:Nunito;
    font-weight:800;
    Size:24px;
    Line-height:34px;
    margin-left: 400px;
    text-align: center;
  }
  

  



  