@import 'header.css';
@import 'footer.css';
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:ital,opsz,wght@1,6..12,700&display=swap');

:root{
    /* les couleurs global du site */
    --backrgound-body:#FFFFFF;
    --color-paragraphe-blanc:#FFFFFF;
    --color-paragraphe-noir: #000000;
    --input-texte-color:rgba(0, 0, 0, 0.5);
    --couleur-titre: #E35F0F;
    --background-section-1-accueil: #27348B;
    --btn-background-color: #E35F0F;
    --paragraphe-color:#000000;
    --footer-background-color:#3B3B3B;
    --police-titre-size:font-size: 48px;
}
body{
    overflow-x: hidden;
    margin: 0;
    background-color: #FFFFFF;
    
}
 /* Style pour le header  */

   /* le titre du header*/
   .titre-container h1 {
    font-family: Nunito;
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 230px;
    margin-left: 422px;
    width: 705px;
    height: 81.49px;
    position: absolute;
    color: #E35F0F;

  }
  .numerique{
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 300px;
    margin-left: 422px;
    width: 705px;
    height: 81.49px;
    position: absolute;
    color: white;
    


  }


  /*background image du header*/
  .background-image_header {
    background:rgba(0,0,0,0.6)url(./images/photo1.png); 
    background-size: cover;
    background-position: center center;
    width: 1300px;
    height: 700px;
    top: -1px;
    background-blend-mode: darken;
  }
  /* style de la  premiere paragraphe */
  .first-paragraphe{
    width: 75%;
    margin: 2%;
    margin-left: 15%;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: justify;
    color: #000000;
   

  }
  /*style section accompagnement personnalisé  */

  .section-accompagnement{
    display: flex;
    gap: 66px;
    margin-left: 70px;
    margin-top: 40px;
   

  }
  .section-accompagnement img{
    Width:390px;
    Height:200px;
    margin-left: 50px;
    margin-top: 70px;
    
  }
  
  .titre1{
    color: #E35F0F;
    font-weight: bold;
    
  }
.second-paragraphe{
    margin-top:40px

  }
  .numero-du-titre1 {
    font-size: 25px;
    color: #E35F0F;
    margin-left: 80px;
    margin-top: 15px;
    display: flex;
    gap: 30px;
    
  }
  .paragraphes{
    margin-left: 20%;
    width: 100%;
    color: #000;
text-align: justify;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 160% */
letter-spacing: 0.8px;
  }
  /*  style de la section evaluation descompetences  */
  .section-evaluation-des-competences{
    display: flex;
    Width:Hug 1,246px;
    Height:Hug 201px;
    Top:1383px;
    Left:82px;
    Gap :64px ; 
    margin-top: 50px;
}
  .section-evaluation-des-competences img{
    Width:390px;
    Height:200px;
    margin-left: 50px;
    margin-top: 70px;
  }
  
  .troixieme-paragraphe{
    margin-top:40px
    
  }
  .troixieme-paragraphe .titre2{
    color: #E35F0F;
    font-weight: bold;
    
  }
  .numero-du-titre2{
    font-size: 25px;
    color: #E35F0F;
    margin-left: 80px;
   
    display: flex;
    gap: 30px;

  }
  /* style de la section  suivie et mesure des progres */
  .section-suivi-et-mesure-des-progres{
    display: flex;
    gap: 66px;
    margin-left: 70px;
    margin-top: 40px;
  }
  .section-suivi-et-mesure-des-progres img{
    Width:390px;
    Height:200px;
    margin-left: 50px;
    margin-top: 70px;

  }
 
  .section-suivi-et-mesure-des-progres .numero-du-titre3{
    font-size: 25px;
    color: #E35F0F;
    margin-left: 80px;
    margin-top: 15px;
    display: flex;
    gap: 30px;
  }
  .section-suivi-et-mesure-des-progres .titre3{
    color: #E35F0F;
    font-weight: bold;
  }
  
  /* style de la section  atelier de groupe interactif*/
  .section-atelier-de-groupe-interactif{
    display: flex;
    gap: 66px;
    margin-left: 70px;
    margin-top: 40px;
  }
  
  .numero-du-titre4{
    font-size: 25px;
    color: #E35F0F;
    margin-left: 80px;
    margin-top: 15px;
    display: flex;
    gap: 30px;
  }
  .section-atelier-de-groupe-interactif img{
    Width:390px;
    Height:200px;
    margin-left: 50px;
    margin-top: 70px;

  }
 
  .section-atelier-de-groupe-interactif .titre4{
    color: #E35F0F;
    font-weight: bold;
  }
  /* style de la section bibliotheque de ressoure  numerique */
  .section-de-bibliotheque-de-ressource-numerique{
    display: flex;
    gap: 66px;
    margin-left: 70px;
    margin-top: 40px;;

  }
  .numero-du-titre5{
    font-size: 25px;
    color: #E35F0F;
    margin-top: 15px;
    display: flex;
    gap: 30px;
  }
  
  .section-de-bibliotheque-de-ressource-numerique img{
    Width:390px;
    Height:200px;
    margin-left: 50px;
    margin-top: 70px;
  }
  
  .section-de-bibliotheque-de-ressource-numerique .titre5{
    color: #E35F0F;
    font-weight: bold;

  }
  /* style de la phrase comment sa marche */
  .button{
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-left: 35%;
    max-width: 450px;
    height: 60px;
    
   }
  .button a{
    padding: 3%;
    border-radius: 10px;
    background: #E35F0F;
    color: #FFFFFF;
    font-family: Nunito;
    font-size: 28px;
  font-weight: 700;
  text-align: center;
  border: none;
  text-decoration: none;
    
  }
<<<<<<< HEAD
  
  .nav-bar_footer ul {
    list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 30px;
  margin-left: 100px;
margin-top: 60px;
  }
  
  
  .nav-bar_footer ul li a {
    text-decoration: none; 
    color: #FFFFFF;
    font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 20px;  
  }

  .contact_footer{
    display: inline-block;
    max-width: 25%;
    gap: 30px;
    margin-top: 40px;
  }
  .contact_footer p{
    font-family: Arial;
font-size: 24px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
margin-left: 15px;
color: #FFFFFF;

  }
  .contact_phone{
    display: flex;
  }
  .contact_email{
    display: flex;
  }
  .contact_google{
    display: flex;
  }
  
  .social_media{
    display: inline-block;
    max-width: 25%;
    margin-top: 60px;
    margin-left: 20px;
  }
  .icons-reseaux{
    display: flex;
    gap: 20px;
  }
  .social_media p{
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 15px;
    color: #FFFFFF;
  }
  .Copyright{
font-family: Arial;
font-size: 24px;
font-weight: 900;
line-height: 15px;
text-align: center;
margin-top: 60px;
color: #FFFFFF;
  }

@media screen  and(max-width:1023px){
    p{
      font-size: 16px;
    }
  }
  

  


=======
>>>>>>> ab681905997407dd1358eea6eb5c01f5006702c8

  