@import 'header.css';
@import 'footer.css';

:root{
    /* les couleurs global du site */
    --backrgound-body:#FFFFFF;
    --color-paragraphe-blanc:#FFFFFF;
    --color-paragraphe-noir: #000000;
    --input-texte-color:rgba(0, 0, 0, 0.5);
    --couleur-titre: #E35F0F;
    --background-section-1-accueil: #27348B;
    --btn-background-color: #E35F0F;
    --paragraphe-color:#000000;
    --footer-background-color:#3B3B3B;
    --police-titre-size:font-size: 48px;
}

body{
    margin: 0px;
}
/* / *Style pour la barre de navigation */ 
  header{
    margin: 0px;
    background-image: url(/images/accueil_banniere_bg_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
  }
  nav{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    max-width: 1504px; 
    height: 106px;
    padding: 0 0px; 
    margin: 0 auto; 
    
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
  }

  
 
    .logo img {
    width: 164.03px;
    height: 63px;
    margin-left: 100px;
    }
  /*Style pour la barre de navigation */
  nav ul {
    list-style: none; 
    margin-right: 150px;
    padding: 0;
    text-align: center;
  }

  nav ul li {
    display: inline-block;
    margin: 0 10px; 
  }

  nav ul li a {
    text-decoration: none; 
    color: #FFFFFF;
    font-size: 16px; 
    font-family: Nunito;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    position: relative;

  }
  nav ul li a:hover,a.active  {
    border-bottom: 2px solid #E35F0F;
    padding: 8px;
  }
  /* Code be la banniere */

  .banniere{
    padding-top: 200px;
    padding-bottom: 150px;
    flex-shrink: 0;
    margin-left: 807px;
    height: 798px;
  }
  .banniere h1{
    color: var(--color-paragraphe-blanc);
    font-family: Nunito;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 166.667% */
  }
  .banniere span{
    color: #E35F0F;
font-family: Nunito;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 60px;
  }
  .banniere p{
    color: var(--color-paragraphe-blanc);
font-family: Arial;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 34px;
text-transform: uppercase;
  }
  .btn_nos_services{
    border-radius: 10px;
    align-items: center;
    display: flex;
    background: var(--btn-background-color);
    width: 180px;
    height: 46px;
    flex-shrink: 0;
    /* margin-bottom: 278px; */
  }
  .btn_nos_services a{
    text-decoration: none;
    margin-left: 50px;
    color: var(--color-paragraphe-blanc);
  }

  /* Code de la section section_c_q_Taggat */
  .section_c_q_Taggat{
    width: 90.2%;
    height: 669.58px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 99px;
    padding-left: 63px;
    padding-right: 78px;
    background: var(--background-section-1-accueil);
  }
  .c_q_taggat_txt_contenaire{
    margin-left: 55px;
  }
  .c_q_taggat_txt_contenaire h1{
    color: #E35F0F;
text-align: center;
font-family: Arial;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 58.333% */
  }
  .c_q_taggat_txt_contenaire p{
    color: #FFF;
    text-align: justify;
    font-family: Arial;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; /* 184% */
  }
  .btn_savoir_plus{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    background: var(--btn-background-color);
    width: 246px;
    height: 54px;
    flex-shrink: 0;
  }
  .btn_savoir_plus a{
    text-decoration: none;
    color: var(--color-paragraphe-blanc);
    font-family: Arial;
    font-size: 25px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: justified;

  }
  /* Code de la section form_contact */

  .form_contact{
    margin: 50px;
    display: flex;
    flex-direction: column;
    padding: 0px 72px 18px 72px;
    justify-content: space-around;
    background: #FFF;
    box-shadow: -5px 10px 30px 0px rgba(0, 29, 44, 0.10);
  }
  .form_contenaire form{
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
  }
  .forme_txt_contenaire{
    margin-left: 30%;

  }
  .form_contenaire form .input{
    display: flex;
    min-height: 40px;
    padding: 16px 31px 17px 31px;
    align-items: flex-start;
    border-radius: 10px;
    border: 1px solid #E1E1E1;
    background: #FFF;
    background: #FFF;
    width: 487px;
    height: 50px;
    /* font style */
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .submit{
    border-radius: 10px;
    border: #E1E1E1;
    background: var(--btn-background-color);
    display: flex;
    padding: 5px 71.895px 5px 72.105px;
    justify-content: center;
    align-items: flex-start;
    /* font style */
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    text-transform: uppercase;
  }

  /* Code section pourquoi_taggat */

  .pourquoi_taggat{
    margin-left: 60px;
    margin-right: 62px;
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  .pourquoi_taggat h1{
    color: #333;
    text-align: center;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px; 
    text-transform: uppercase;
  }
  .pourquoi_taggat span{
    color: #E35F0F;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    text-transform: uppercase;
  }
  .pourquoi_taggat .espacement{
    width: auto;
    height: 99px;
  }
  .pourquoi_taggat p{
    color: #000;
    text-align: justify;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px; 
  }

  /* Code section Thèmes_a_aborder */

  .Thèmes_a_aborder{
    margin-left: 72px;
    margin-right: 72px;
    display: flex;
    flex-direction: column;
    padding: 0px 72px 18px 72px;
    justify-content: center;
  }
  .Thèmes_a_aborder h1{
    margin-bottom: 120px;
    color: #3B3B3B;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
  }
  .theme_a_aborder_icon_et_txt_contenaire{
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .theme_a_aborder_icon_et_txt{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .theme_a_aborder_icon_et_txt p{
    color: #3B3B3B;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 90% */
  }
 svg{
    margin-bottom: 94.8;
 }

 /* Code section nos service */

 .nos_services{
    width: 100%;
    height: 844px;
    flex-shrink: 0;
    background-position: center center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(./images/fond_section_nos_services.png);
    background-color: rgba(0, 0, 0, 0.5); 
    background-repeat: no-repeat;
    background-size: cover;
 }
 .nos_services h1{
    padding-top: 47px;
    margin-left: 107px;
    color: #FFF;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 137.5% */
    text-transform: capitalize;
 }.nos_services span{
    color: #E35F0F;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    text-transform: capitalize;
 }
 .nos_services p{
    margin-top: 195px;
    margin-left: 212px;
    margin-right: 251px;
    color: #FFF;
    text-align: justify;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px; /* 168.75% */
    text-transform: capitalize;
 }
 .nos_services .voir_plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 595px;
    margin-right: 725px;
    border-radius: 10px;
    background: #E35F0F;
 }

 .nos_services .voir_plus a{
    color: #FFF;
    text-align: justify;
    font-family: Arial;
    text-decoration: none;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; 
    text-transform: capitalize;
 }
 /* Code section section_blog */

 .section_blog{
    display: flex;
    margin-left: 103px;
    margin-right: 103px;
    justify-content: left;
    flex-direction: column;
 }
 .section_blog h1{
    color: #E35F0F;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 137.5% */
    text-transform: capitalize;
 }

 .article{
    display: flex;
    justify-content: space-evenly;
 }
 .rticle_img{
    width: 684px;
    height: 450px;
    margin-right: 84px;
 }
 .article_contenu_txt{
    padding-top: 46px;
    padding-bottom: 16px;
    width: 552px;
    margin-left: 84px;
    display: flex;
    width: 522px;
    height: 388px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
 }
 .article_contenu_txt p{
    color: #000;
    text-align: justify;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 187.5% */
    text-transform: capitalize;
 }
 .section_blog .voir_plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 570px;
    margin-right: 713px;
    margin-top: 120px;
    margin-bottom: 95px;
    border-radius: 10px;
    background: #E35F0F;
        
 }
 .section_blog .voir_plus a{
    color: #FFF;
    text-align: justify;
    font-family: Arial;
    text-decoration: none;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; 
    text-transform: capitalize;
 }

/* Code section taggat_vous_guide */

.taggat_vous_guide{
    width: auto;
    height: 844px;
    flex-shrink: 0;
    margin-bottom: -250px;
    background-position: center center;
    background-image:url(./images/taggat_vous_guide.png);
    background-color: rgba(0, 0, 0, 0.5); 
    background-repeat: no-repeat;
    background-size: cover;
}
.taggat_vous_guide p{
    padding-top: 261px;
    margin-left: 326px;
    margin-right: 327px;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px; /* 137.5% */
    text-transform: uppercase;
 }
 .taggat_vous_guide span{
    color: #E35F0F;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    text-transform: uppercase;
 }
 .taggat_vous_guide .voir_plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 254px;
    height: 54px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: 595px;
    margin-right: 725px;
    border-radius: 10px;
    background: #E35F0F;
 }

 .taggat_vous_guide .voir_plus a{
    color: #FFF;
    text-align: justify;
    font-family: Arial;
    text-decoration: none;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; 
    text-transform: capitalize;
 }


 /* Code footer */
/*footer*/
footer{
    background: #1F1F1F;
    width: 100%;
    height: 300px;
    display: inline-block;
    justify-content: space-between;
    padding: 30px 5px;
  
  }
  .footer_principal {
    display: flex;
    justify-content: space-between; /* Pour espacer les éléments sur toute la largeur */
    flex-wrap: wrap; /* Pour permettre le retour à la ligne si nécessaire */
  }
  
  /* Styles pour chaque section */
  .slogan,
  .nav-bar_footer,
  .contact_footer,
  .social_media {
    flex: 1; /* Chaque section prend autant d'espace disponible */
    display: flex;
    align-items: center; /* Alignement vertical */
  }
  
  .slogan{
    display: inline-block;
    max-width: 25%;
   
    
  }
  footer .logo{
    width: 185px;
    height: 75px;
    margin-left: -40px;
   
    
  }
  .le_paragraphe_footer{
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  width: 90%;
  text-align: center;
  margin-left: 30px;
  }
  .le_paragraphe_footer p{
   margin-top: 80px; 
  }

  .nav-bar_footer{
    max-width: 25%;
    
  }
  
  .nav-bar_footer ul {
    list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 30px;
  margin-left: 100px;
margin-top: 60px;
  }
  
  
  .nav-bar_footer ul li a {
    text-decoration: none; 
    color: #FFFFFF;
    font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 20px;  
  }

  .contact_footer{
    display: inline-block;
    max-width: 25%;
    gap: 30px;
    margin-top: 40px;
  }
  .contact_footer p{
    font-family: Arial;
font-size: 24px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
margin-left: 15px;
color: #FFFFFF;

  }
  .contact_phone{
    display: flex;
  }
  .contact_email{
    display: flex;
  }
  .contact_google{
    display: flex;
  }
  
  .social_media{
    display: inline-block;
    max-width: 25%;
    margin-top: 60px;
    margin-left: 20px;
  }
  .icons-reseaux{
    display: flex;
    gap: 20px;
  }
  .social_media p{
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 15px;
    color: #FFFFFF;
  }
  .Copyright{
font-family: Arial;
font-size: 24px;
font-weight: 900;
line-height: 15px;
text-align: center;
margin-top: 60px;
color: #FFFFFF;
  }


  

